<div class="card">
  <div class="card-header">
    App info <ng-container *ngIf="title"> {{title}}</ng-container>
  </div>
  <div class="card-body" *ngIf="info">

    <ul>
      <li>
        Author: {{info.authorName}}
      </li>
      <li>
        App Name: {{info.appName}}
      </li>
      <li>
        Date: {{info.date | date : 'medium'}}
      </li>
    </ul>

  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="getInfo()">
      Get Info
    </button>
  </div>
</div>
